{% extends 'template.html' %}
{% block head %}
    <title>奖惩情况页面</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css"/>
    <link rel="stylesheet" href="css/matrix-style.css"/>
    <link rel="stylesheet" href="css/matrix-media.css"/>
    <script src="js/echarts.min.js"></script>
    <script src="js/walden.js"></script>
    <script type="text/javascript">
        function delete_reward() {
            alert('数据删除成功！')
        }
    </script>
{% endblock %}
{% block content %}
    <div id="content-header">
        <div id="breadcrumb"><a href="/index" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a><a
                href="/reward" class="current">奖惩情况</a></div>
    </div>

    <table style="width: 80%;margin-left: 88px;background:lightseagreen;">
        <caption>奖惩信息&#12288;共{{ reward_list|length }}条记录</caption>
        <tr>
            <td style="width: 87px;text-align: center">学号</td>
            <td style="width: 87px;text-align: center">姓名</td>
            <td style="width: 87px;text-align: center">二级学院</td>
            <td style="width: 87px;text-align: center">奖惩情况</td>

            <td style="width: 87px;text-align: center">删除操作</td>

        </tr>
        {% for item in reward_list %}
            <tr>
                {% for items in item %}
                    <td style="width: 87px;text-align: center">{{ items }}</td>
                {% endfor %}

                <td style="width: 87px;text-align: center"><a href="/delete-reward/{{ item }}"
                                                              onclick="delete_reward()">删除</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}